<div class="bookmark-listing">
  <h4><a href="<%=@bookmark.url %>"><%=@bookmark.title %></a></h4>
  <div class="bookmark-tags"><%= Enum.map_join(@bookmark.tags, ", ", &(&1.name)) %></div>
  <div class="bookmark-details">
  created on: <%=@bookmark.inserted_at %> by <a href="/users/<%=@bookmark.user.id %>"><%= @bookmark.user.username %></a>
  </div>
</div>
